/* 重置默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* 应用容器 */
.app-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}




/* 响应式设计 */
@media (max-width: 480px) {
  
}
