/* 聊天消息区域 */
.chat-messages {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  /* background: #f8f9fa; */
}

/* 空状态 */
.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #6c757d;
  font-size: 1rem;
}


/* 消息样式 */
.message {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.message * {
  overflow-anchor: auto;
}

.message.user {
  align-items: flex-end;
}

.message.bot {
  align-items: flex-start;
}

.message-content-avatar {
  display: flex;
  align-items: flex-start;
}

.message-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
  flex-grow: 0;
}

.message-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-content {
  max-width: 75%;
  border-radius: 12px;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
  padding: 10px;
}

.message.user .message-content {
  background: #B4CBFF;
  color: #1C1F23;
  border-bottom-right-radius: 4px;
}

.message.bot .message-content {
  color: #333;
}

.message-time {
  font-size: 0.75rem;
  color: #adb5bd;
  margin-top: 0.25rem;
}

.msg-thinking-title {
    position: relative;
    background: #DDE3F0;
}
.msg-thinking-title:hover {
  background: #cbd7f0;
}

.message.msg-thinking {
    /* padding: 10px; */
    /* border: 1px solid #e9ecef; */
}

.msg-thinking-container {
  border-radius: 8px;
  background: #DDE3F0;
}

.message.msg-thinking .msg-thinking-title {
  top: -24px;
  position: sticky;
  padding: 10px;
  font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;

    border-radius: 8px 8px 0 0;
}

.message.msg-thinking .message-content.hidden {
  display: none;
}

.msg-thinking-title .toggle-icon {
    margin-left: 0.5rem;
    cursor: pointer;
}

.message.msg-thinking .message-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    max-width: 100%;
}
.message .message-content pre {
    white-space: pre-wrap;
}

.message.msg-thinking.hidden .message-content {
    height: 0;
    line-height: 0;
    padding: 0;
}

.rslt-msg-box {
    margin-bottom: 16px;
}

.rslt-msg-box .rslt-tit {
    font-weight: 500;
    margin-bottom: 6px;
}

.rslt-msg-code {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
}


.rslt-msg-table {
    width: 100%;
    padding: 6px 16px;
}

.rslt-msg-tbl-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rslt-msg-tbl-row span {
  border: 1px solid #e9ecef;
  width: 33%;
  padding: 4px 6px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}
.rslt-msg-tbl-row:not(:first-child) span {
  border-top: none;
}
.rslt-msg-tbl-row span:not(:first-child) {
  border-left: none;
}

.rslt-msg-tbl-row.th {
    font-weight: 500;
}

.message-opt {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.opt-button {
  margin-left: 8px;
  cursor: pointer;
}
